* {
  box-sizing: border-box;
}

body{
  background: #161813;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;

}

html {
  scroll-behavior: smooth;
}